
.order-title {
  font-size: 32px;
  color:#4f4c43;
  padding-bottom: 4px;
}

.order-data {
  padding-bottom: 8px;
}

.order-data-row {
  padding: 2px;
}

.order-data-label {
  font-size: 16px;
  font-weight: 700;
}

.order-data-value {
  font-size: 16px;
  margin-left: 4px;
}

.locate-container {
  padding: 0 16px;
  background-color: white;
}



.locate-result {
  padding: 8px;
  width: 680px;
  border: 1px solid black;
}

.locate-title-row {
  padding: 4px 2px 0 0;
  margin-top: -8px;
}

.locate-match-type {
  font-size: 24px;
  padding: 2px;
  font-weight: 600;
}

.locate-data {
  padding: 2px;
  margin-right: 8px;
}

.locate-spec-data {
  padding: 0 2px 2px;
  word-wrap: break-word;
  margin-left: 4px;
  margin-top: -2px;
}

.locate-order-img {
  color: white;
  background-color: #4f4c43;
  height: 132px;
  width: 234px;
  margin: 0 8px;
}

.locate-btn-container {
  margin-top: 4px;
}

.vos-order-img-placeholder {
  color: white;
  background-color: #4f4c43;
  height: 188px;
  width: 324px;
}

.vos-order-img {
  color: #4f4c43;
  background-color: white;
  height: 188px;
  width: 324px;
}


.vos-order-img img {
  margin-bottom: -8px;
  height: 100%;
}
