<div>
  <div layout = "row" layout-align = "space-between">
    <div class = "order-data">
      <div class = "locate-match-type" rel="orderId">{{order.orderId}}</div>
      <div layout = "row" class = "order-data-row">
        <div class = "order-data-label" rel="vlLabel">{{orderVm.labels.vehicleLine}}:</div>
        <div class = "order-data-value" rel="vlValue">
          {{order.vehicleSpecification.vehicleLine.Description}}
        </div>
      </div>
      <div layout = "row" class = "order-data-row">
        <div class = "order-data-label" rel="myLabel">{{orderVm.labels.modelYear}}:</div>
        <div class = "order-data-value" rel="myValue">
          {{order.vehicleSpecification.modelYear.Description}}
        </div>
      </div>
      <div layout = "row" class = "order-data-row">
        <div class = "order-data-label" rel="modelLabel">{{orderVm.labels.mpv}}:</div>
        <div class = "order-data-value" rel="modelValue">
          {{order.vehicleSpecification.mpv}}
        </div>
      </div>
      <div layout = "row" class = "order-data-row">
        <div class = "order-data-label" rel="paintLabel">{{orderVm.labels.paint}}:</div>
        <div class = "order-data-value" rel="paintValue">
          {{order.vehicleSpecification.features.colorAndTrim[0].Description}}
        </div>
      </div>
      <div layout = "row" class = "order-data-row">
        <div class = "order-data-label" rel="trimLabel">{{orderVm.labels.trim}}:</div>
        <div class = "order-data-value" rel="trimValue">
          {{order.vehicleSpecification.features.colorAndTrim[1].Description}}
        </div>
      </div>
    </div>

    <div class = "vos-order-img"
         layout = "column" layout-align = "center center">
      <img ng-src = {{image}} rel="previewImage"/>
      <div>(Image is a depiction of the vehicle)</div>
    </div>
  </div>
  <div layout = "row" layout-align = "end" class = "locate-btn-container">
    <button class = "k-button" rel="detailsButton"
            ng-click = "previewClicked(order.orderId)">Preview
    </button>
  </div>
</div>
